﻿{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "css/admin.css" %}" />
{% endblock %}

{% block title%}
    Analytics Test
{% endblock %}

{% block content %}
    {% if test_results %}
        <h1>Sentiment Analysis Test Result</h1>
        <p>The text was: {{ test_results.prediction }}, Probability: {{ test_results.probability }}</p>
    {% else %}
        <form action="analytics_test" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" />
        </form>
    {% endif %}
{% endblock %}