﻿{% extends "admin/base_site.html" %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "css/admin.css" %}" />
{% endblock %}

{% block title%}
    Create News Article
{% endblock %}

{% block content %}
    <form action="save-news" method="post">
        {% csrf_token %}
        <table>
            {{ form.media }}
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit" />
    </form>
{% endblock %}