﻿{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "css/admin.css" %}" />
{% endblock %}

{% block title%}
    Fetched News
{% endblock %}

{% block content %}
<h1> Fetched News Items </h1>
<div class="fetched-news-items">
    <table class="table">
        <thead>
        <tr>
            <th>News Title</th>
            <th>Summary</th>
            <th>News Image</th>
            <th>Tags</th>
            <th>Story Url</th>
            <th>Source</th>
            <th>Date Fetched</th>
        </tr>
        </thead>
        <tbody>
        {% for news_item in news %}
        <tr>
            <td>{{ news_item.title }}</td>
            <td>{{ news_item.summary }}</td>
            <td>{{ news_item.news_item_image }}</td>
            <td>{{ news_item.tags }}</td>
            <td><a href="{{ news_item.url_to_story }}">Link To News Item</a></td>
            <td>{{ news_item.source }}</td>
            <td>{{ news_item.date_created }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}