﻿{% extends "app/layout.html" %}

{% block title %}
    Crawl
{% endblock %}

{% block content %}
<h1>Start Crawl</h1>
<div class="col-sm-12">
    <table class="table">
        <thead>
            <tr>
                <th>Source</th>
                <th>Start Crawl</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Twitter</td>
                <td><a href="/start-crawl/twitter"><button class="btn btn-primary">Start Crawl</button></a></td>
            </tr>
            <tr>
                <td>Hot New Hip Hop</td>
                <td><a href="/start-crawl/hot-new-hip-hop"><button class="btn btn-primary">Start Crawl</button></a></td>
            </tr>
            <tr>
                <td>Artist Twitter News Search</td>
                <td><a href="/start-crawl/artist_crawl"><button class="btn btn-primary">Start Crawl</button></a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}