﻿{% extends "app/layout.html" %}

{% block title %}
    Crawled News
{% endblock %}

{% block content %}
<h1> Crawled News Items </h1>
<div class="col-sm-12">
    <table class="table">
        <thead>
        <tr>
            <th>News Title</th>
            <th>Summary</th>
            <th>News Image</th>
            <th>Tags</th>
            <th>Story Url</th>
            <th>Source</th>
            <th>Date Fetched</th>
        </tr>
        </thead>
        <tbody>
        {% for news_item in news %}
        <tr>
            <td>{{ news_item.title }}</td>
            <td>{{ news_item.summary }}</td>
            {% if news_item.news_item_image %}
                <td><img src="{{ news_item.news_item_image }}" height="100"/></td>
            {% else %}
                <td>No Image Available</td>
            {% endif %}
            <td>{{ news_item.tags }}</td>
            <td><a href="{{ news_item.url_to_story }}">Link</a></td>
            <td>{{ news_item.source }}</td>
            <td>{{ news_item.date_created }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation">
      <ul class="pagination">
          {% for i in total %}
            <li><a href="/all-posts/{{forloop.counter}}">{{forloop.counter}}</a></li>
          {% endfor %}
      </ul>
    </nav>
</div>
{% endblock %}