﻿{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/admin.css" %}" />
{% endblock %}

{% block title%}
Scraping Error
{% endblock %}

{% block content %}
<h1> Scraping Error </h1>
<div class="scraping-hub">
    An error occured during scraping initation
</div>
{% endblock %}