﻿{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/admin.css" %}" />
{% endblock %}

{% block title%}
Scraping Initiated
{% endblock %}

{% block content %}
<h1> Scraping Initiated </h1>
<div class="scraping-hub">
    Scraping Initiated
</div>
{% endblock %}