﻿{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/admin.css" %}" />
{% endblock %}

{% block title%}
Scraping Hub
{% endblock %}

{% block content %}
<h1> Scraping Hub </h1>
<div class="scraping-hub">
    <table class="table">
        <thead>
        <tr>
            <th>Scraping Description</th>
            <th>Start Scraper</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Start Artists Scrapers</td>
            <td><a href="startscraper/hotnewhiphop/artists">Start Scraper</a></td>
        </tr>
        <tr>
            <td>Start News Scrapers</td>
            <td><a href="fetchBlogNewsContent">Start Scraper</a></td>
        </tr>
        <tr>
            <td>Start Twitter Scrapers</td>
            <td><a href="fetchTwitterContent">Start Scraper</a></td>
        </tr>
        <tr>
            <td>Start Google Scrapers</td>
            <td><a href="fetchGoogleContent">Start Scraper</a></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}