﻿{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/admin.css" %}" />
{% endblock %}

{% block title%}
Google Tasks
{% endblock %}

{% block content %}
<h1> Google Tasks </h1>
<div class="scraping-hub">
    <table class="table">
        <thead>
        <tr>
            <th>Description</th>
            <th>Start Task</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Populate Artist Images</td>
            <td><a href="twitter/initiateCollectInformationTask">Populate Artist Images</a></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}