﻿{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/admin.css" %}" />
{% endblock %}

{% block title%}
Twitter Media Hub
{% endblock %}

{% block content %}
<h1> Twitter Media Hub </h1>
<div class="scraping-hub">
    <h1>Twitter Job has been initiated</h1>
</div>
{% endblock %}