﻿{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/admin.css" %}" />
{% endblock %}

{% block title%}
Twitter Media Hub
{% endblock %}

{% block content %}
<h1> Twitter Media Hub </h1>
<div class="scraping-hub">
    <table class="table">
        <thead>
        <tr>
            <th>Description</th>
            <th>Start Task</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Collect Twitter News</td>
            <td><a href="twitter/fetchTwitterContent">Start Collect Information Task</a></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}